.settings {
  display: flex;
  font-family: "ABeeZee", sans-serif;
}
.settingsWrapper {
  flex: 9;
  padding: 20px 100px;
}
.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: #f08080;
}
.settingsDeleteTitle {
  color: #008080;
  font-size: 12px;
  cursor: pointer;
}
.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsProfilePicture {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settingsProfilePicture > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid #ccc;
}
.settingsProfilePictureIcon {
  width: 26px;
  height: 24px;
  border-radius: 50%;
  background-color: #008080;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  color: #222;
}
.settingsForm > input {
  color: #808080;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 50px;
}

.settingsSubmit{
    width: 150px;
    height: 60px;
    line-height: 13px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: #fff !important;
    background-color: #008080;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
